<div class="row">
    <div class="col-sm-12">
        <p class="centro">Página inicial  <span class="indica">></span>   <a href="#" [routerLink]="['']">Painel de Gestão</a>   </p>
    </div>  
  <div class="col-sm-12 barra-title">
    <span class="icone-t"><span class="glyphicon glyphicon-dashboard icone-t"></span> {{ painel }}</span>
    

    <div class="dropdown navbar-right espaco-bts">
    
    
              <button class="btn btn-default dropdown-toggle asbt" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="ustd">Todos</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Ação</a></li>
                <li><a href="#">Outra ação</a></li>
                <li><a href="#">Algo mais aqui</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Link separado</a></li>
              </ul>
            </div>
            <span class="direita">Produto: </span>
  </div>
</div> 

<div class="row placeholders">
    <div class="col-xs-12 col-sm-7 placeholder">
      <div class="cardum"> 

        <span class="titulo-card">Atalhos</span>
        
       <div class="divisao">

        <div class="titulo-card-novo">Operacional</div>

        <button class="btn btn-default btn-tamanho">Envio</button>

        <button class="btn btn-default btn-tamanho">Assinatura</button>

        <button class="btn btn-default btn-tamanho">Envio de Duplicatas</button>

        <button class="btn btn-default btn-tamanho">Assinatura Digital</button>

        <button class="btn btn-default btn-tamanho">Nova Operação</button>
       </div> 

      <span class="controle-direita">
          <div class="titulo-card-dir">Geral</div>

          <button class="btn btn-default btn-tamanho">Carteira</button>

          <button class="btn btn-default btn-tamanho">Instruções</button>
      </span>
       
    </div>

    </div>
    <div class="col-xs-12 col-sm-5 placeholder">
      <div class="carddois">
          <span class="titulo-card-a">Alertas <span class="menos-dias">Últimos 5 dias</span></span>
          
      <ul class="lDireita">
        <li *ngFor="let itens of listaAlertas" class="mart">
         {{ itens.contador }} {{ itens.aviso }}  
        
            <button class="btn btn-default btn-tamanho tm-btn" *ngIf="itens.controle == 'exibir'" >Ações
              
            </button>
          
      
          </li>
      </ul>
   
         
    </div>

    </div>
    
  </div>