/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
.navbar-estilo{
    width: 180px;
}
.aviso{
    padding: 3px;
    font-size: 10px;
    background-color: #ff3333;
    color: #fff;
    top: -6px;
    left: -1px;
}
.users{
    padding-left: 20px;
    padding-right: 20px;
}
.form-control-persona {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 64px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    color: #ccc;
}
.btnPerfil{
    margin-top: 5px;
    background-color: #004466;
    color:#fff;
    border-radius: 0;
    border-color: #004466;
    padding-top: 8px;
    padding-bottom: 8px;

}
.gp{
    margin-right: 14px;
   color: #999999;
}
.espaco-bt{
    margin-right: 14px;
}
.usAgr{
    border-radius: 0;
    margin-top: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: #00ace6;
    color: #b3b3b3;
}
.us{
    padding-left: 5px;
    padding-right: 5px;
}
.ctrl{
    left: 6px;
    top: 4px 
}
.btn-i{
    margin-top: 5px;
    border-radius: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 24px;
}

.tamanho{
    width: 220px;
    padding-left: 0;
    margin-top: 8px;
    margin-left: 0;
}
body {
    padding-top: 50px;
  }
  .cardum{
      background-color: #fff;
      min-width: 99%;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 0 0 rgba(0,0,0,0.12) !important;
      height: 400px;
}
  .carddois{
    background-color: #fff;
    min-width: 99%;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.16),0 2px 0 0 rgba(0,0,0,0.12) !important;
    height: 400px;
}
.titulo-card{
    font-size: 18px;
    border-bottom: 1px solid #eee;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    color: #ccc;
    text-indent: 20px;
}
.titulo-card-novo{
    padding-top: 30px;
    color: #8c8c8c;
}
.listar{
    text-align: right;
    float: right;
}
.btn-tamanho{
    margin-top: 20px;
    margin-left: 20px; 
    width: 146px;
    color: #b3b3b3;
    border-radius: 0;
    border-color: #00ace6;
    font-size: 13px;
}
.controle-direita{
    float: left;
    width: 30%;
    display: block;
}

.divisao{
    width: 60%;
    border-right: 1px solid #eee;
    height: 200px;
    float: left;
    text-align: left;
   
    text-indent: 20px;
}
.titulo-card-dir{
    padding-top: 30px;
    text-align: left;
    color: #8c8c8c;
    text-indent: 28px;
}


.oi{
    
    background-color: rgba(255, 255, 255, 0.5);
   
}
.borda-menu a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.borda-menu a:active{
    background-color: rgba(255, 255, 255, 0.5);
}
.borda-menu a:focus{
    background-color: rgba(255, 255, 255, 0.5);
}
.linha{
    width: 100%;
    display: block;
}
.titulo-card-a{
    font-size: 18px;
    border-bottom: 1px solid #eee;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    color: #428bca;
    text-indent: 20px; 
    margin-bottom: 30px;
} 
  a{
      color: #fff;
  }
  .borda-menu{
      border-bottom: 1px solid #428bca;
  }
  .icone{
      padding-right: 5px;
  }
  
  /*
   * Global add-ons
   */
  
  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  
  /*
   * Top navigation
   * Hide default border to remove 1px line.
   */
  .navbar-fixed-top {
    border: 0;
  }
  .mart{
  
    text-align: left;
    margin-top: 12px
  }
  /*
   * Sidebar
   */
  
  /* Hide for mobile, show later */
  .sidebar {
    display: none;
  }
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #004466;
      border-right: 1px solid #eee;
    }
  }
  .listaItem{
      float: left;
      padding-top: 10px;
      background-color: red;
      width: 40%;  
  }
  .menos-dias{
      font-size: 13px;
      color: #999999;
      float: right;
      margin-right: 40px;
  }
  .lDireita li{
      float: left;
     list-style: none;
     border-top: 1px solid #e6e6e6;
     border-bottom: 1px solid #e6e6e6;
     width: 90%;
     min-height: 35px;
     margin: 0;
     padding-top: 6px;
     padding-bottom: 6px;
     color: #8c8c8c;
  }
  .tm-btn{
      float: right;
    margin: 0;
    }
  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }
  .nav-cor{
    background-color:#fff;
  }
  .cor-menu{
      background-color: #004466;
  }
  
  /*
   * Main content
   */
  .main-top{
      margin-top: 40px;
      background-color: #f5f5f5;
  }

  .main {
    padding: 20px;
  }
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  .main .page-header {
    margin-top: 0;
  }
  .btn-perfil{
      width: 170px
  }

  .icon-btn{
      left: 0;
      padding-right: 14px;
  }
  
  /*
   * Placeholder dashboard ideas
   */
  
  .placeholders {
    margin-bottom: 30px;
    text-align: center;
  }
  .placeholders h4 {
    margin-bottom: 0;
  }
  .placeholder {
    margin-bottom: 20px;
  }
  .placeholder img {
    display: inline-block;
    border-radius: 50%;
  }