<nav class="navbar navbar-inverse navbar-fixed-top nav-cor">
  <div class="container-fluid">
    <div class="navbar-heade">
      
        
        <div class="col-sm-2 tamanho">
            <input type="text" class="form-control" id="inputSuccess" placeholder="Pesquise aqui">
            <span class="glyphicon glyphicon-search form-control-persona"></span>
          </div>
           
            
    </div>
    <div id="navbar" class="navbar-collapse collapse">
              
        <button type="button" class="btn btn-info navbar-right btn-i">
            <span class="glyphicon glyphicon-bell ctrl" aria-hidden="true"></span>  <span class="badge aviso">3</span>
          </button>

      <div class="dropdown navbar-right">
          <button class="btn btn-default dropdown-toggle btnPerfil" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="glyphicon glyphicon-user"> </i> <span class="users">Sandra Oliveira </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Ação</a></li>
            <li><a href="#">Outra ação</a></li>
            <li><a href="#">Algo mais aqui</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Link separado</a></li>
          </ul>
        </div>
        
 <div class="dropdown navbar-right espaco-bt">
    <span class="gp">Grupo Econômico: </span>
    
          <button class="btn btn-default dropdown-toggle usAgr" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="us">Visão agregada 1</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Ação</a></li>
            <li><a href="#">Outra ação</a></li>
            <li><a href="#">Algo mais aqui</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Link separado</a></li>
          </ul>
        </div>
 
      <img [src]="imgLogo" alt="" width="170" height="50">
      

      
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        
        <li class="borda-menu" [class.oi]="aba == 'home'" (click)="aba= 'home'"><a href="#" [routerLink]="['']"><span class="glyphicon glyphicon-dashboard icone"></span> Painel de Gestão</a></li>
        <li class="borda-menu" [class.oi]="aba == 'digital'" (click)="aba= 'digital'"><a href="#" [routerLink]="['Gestao']"><span class="glyphicon glyphicon-cd icone"></span> Conta Digital</a></li>
        <li class="borda-menu" [class.oi]="aba == 'recebiveis'" (click)="aba= 'recebiveis'"><a href="#" [routerLink]="['AntRecebiveis']"><span class="glyphicon glyphicon-refresh icone"></span> Ant. de Recebiveis </a></li>
      </ul>
  
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main main-top">
       
        <router-outlet></router-outlet>
      
    </div>
  </div>

  


</div>


